@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap');
.App {
  
  text-align: center;
  font-family: 'Bai Jamjuree', sans-serif;
  /* animation: background 60s ease-in infinite; */
}



@keyframes background {
  0% {
    background-color: #DFDBD9;
  }
  50% {
    background-color: #e4d2c9;
    
  }
  100% {
    background-color: #DFDBD9;
  }
}

.button-shadow {
  box-shadow:  4px 4px 4px #595857,
  -4px -4px 4px #ffffff;
  color:white;
  font-weight: 600;
  border:  2px solid #142D4C;

  
  
  
  
}

.button-shadow:hover {
  transform: translateY(-3px);
  background-color: #142D4C;
 }
 
 .button-shadow:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
 }
 :root{
  --white : #fff;
  --black : #000;
  --cardBorder : #ffffff30;
  --cardBackground : #ffffff1a;
  --btnBg : #ffffff00;
  --btnFocus : #ffffffb9;

  --facebook : #1771e6;
  --twitter : #1c99e6;
  --instagram : #cb2770;
  --whatsapp : #2fe664;
  --linkedin : #210fea;
  --github : rgb(98, 104, 161);
}
.icon{
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 0.1rem solid #ffffff88;
  transition: all 0.5s;
  margin: 1rem 0 2.5rem;
  color: white;
  box-shadow:  4px 4px 4px #595857,
             -4px -4px 4px #ffffff;
  border:  2px solid #142D4C;
  background-color: #385170;
}


#linkedin:hover{
  background: var(--linkedin);
  color: var(--white);
  
  box-shadow:  20px 20px  60px #BEBEBE,  -20px -20px  50px var(--linkedin);
}

#twitter:hover{
  color: var(--white);
  background: var(--twitter);
  box-shadow:  20px 20px  60px #BEBEBE,  -20px -20px  50px var(--twitter);
}



#whatsapp:hover{
  color: var(--white);
  background: var(--whatsapp);
  box-shadow:  20px 20px  60px #BEBEBE,  -20px -20px  50px var(--whatsapp);
}

#github:hover{
  color: var(--white);
  background: var(--github);
  box-shadow:  20px 20px  60px #BEBEBE,  -20px -20px  50px var(--github);
}
.profile{
  box-shadow: 0 4px 4px #000 , -6px -6px 60px #9FD3C7;
}
.activeclass{
  background-color: #142D4C;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: white;
}
.card{


  box-shadow:  14px 14px 28px #595857,
  -14px -14px 28px #ffffff;
}
 
.project{
  border-radius: 10px;
background: #e0e0e0;
box-shadow: inset 20px 20px 60px #bebebe,
            inset -20px -20px 60px #ffffff;
}

.project:hover{
  border-radius: 10px;
background: linear-gradient(145deg, #cacaca, #f0f0f0);
box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
}

.card-label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #4a5568;
}
.login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}
