@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap');
.App {
  
  text-align: center;
  font-family: 'Bai Jamjuree', sans-serif;
  /* animation: background 60s ease-in infinite; */
}

.bac_pat_light {
  background-color: #d9dcdf;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%23c8cdd1' fill-opacity='0.79'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.bac_pat_dark {
  background-color: #2c2f31;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%23c8cdd1' fill-opacity='0.13'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.card_trans {
  background: rgba( 217, 220, 223, 0.05 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 20px );
-webkit-backdrop-filter: blur( 20px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

@keyframes background {
  0% {
    background-color: #DFDBD9;
  }
  50% {
    background-color: #e4d2c9;
    
  }
  100% {
    background-color: #DFDBD9;
  }
}

.button {
  box-shadow:  4px 4px 4px #595857,
  -4px -4px 4px #ffffff; }

  .button-dark {
    box-shadow:  2px 2px 2px #595857,
    -2px -2px 2px #ffffff; }
.button-shadow {
  /* box-shadow:  4px 4px 4px #595857,
  -4px -4px 4px #ffffff; */
  color:white;
  font-weight: 600;
  border:  2px solid #142D4C;

  
  
  
  
}

.button-shadow:hover {
  transform: translateY(-3px);
  background-color: #142D4C;
 }
 
 .button-shadow:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
 }
 :root{
  --white : #fff;
  --black : #000;
  --cardBorder : #ffffff30;
  --cardBackground : #ffffff1a;
  --btnBg : #ffffff00;
  --btnFocus : #ffffffb9;

  --facebook : #1771e6;
  --twitter : #1c99e6;
  --instagram : #cb2770;
  --whatsapp : #2fe664;
  --linkedin : #210fea;
  --github : rgb(98, 104, 161);
}
.icon{
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 0.1rem solid #ffffff88;
  transition: all 0.5s;
  margin: 1rem 0 2.5rem;
  color: white;
  box-shadow:  2px 2px 2px #595857,
             -2px -2px 2px #ffffff;
  border:  2px solid #142D4C;
  background-color: #385170;
}


#linkedin:hover{
  background: var(--linkedin);
  color: var(--white);
  
  box-shadow:  20px 20px  60px #BEBEBE,  -20px -20px  50px var(--linkedin);
}

#twitter:hover{
  color: var(--white);
  background: var(--twitter);
  box-shadow:  20px 20px  60px #BEBEBE,  -20px -20px  50px var(--twitter);
}



#whatsapp:hover{
  color: var(--white);
  background: var(--whatsapp);
  box-shadow:  20px 20px  60px #BEBEBE,  -20px -20px  50px var(--whatsapp);
}

#github:hover{
  color: var(--white);
  background: var(--github);
  box-shadow:  20px 20px  60px #BEBEBE,  -20px -20px  50px var(--github);
}
.profile{
  box-shadow: 0 4px 4px #000 , -6px -6px 60px #9FD3C7;
}

.profile-dark{
  box-shadow: 0 4px 4px #000 , -4px -4px 60px #2A5D54;
}
.activeclass{
  background-color: #142D4C;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  
  color: white;
  
}
.card{


  box-shadow:  14px 14px 28px #595857,
  -14px -14px 28px #ffffff;
}
 
.project{
  border-radius: 10px;
/* background: #e0e0e0; */
 box-shadow: inset 20px 20px 60px #bebebe,
            inset -20px -20px 60px #ffffff;
}

.project-dark {
  border-radius: 10px;
  box-shadow: inset 5px 5px 80px #bebebe,
  inset -5px -5px 20px #ffffff;
}
.project-dark:hover{
  border-radius: 10px;
/* background: linear-gradient(145deg, #cacaca, #f0f0f0); */
box-shadow:  5px 5px 20px #bebebe,
             -5px -5px 20px #ffffff;
}
.project:hover{

background: linear-gradient(145deg, #cacaca, #f0f0f0);
box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
}

.card-label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #4a5568;
}
.login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.nav{
  background: rgb(136,160,190);
  background: linear-gradient(207deg, rgba(136,160,190,0.46271008403361347) 0%, rgba(223,219,217,0.7204131652661064) 38%, rgba(223,219,217,0.6475840336134453) 62%, rgba(136,160,190,0.40388655462184875) 100%);
}

.dark-mode-switch {
  transition: background-color 1s ease; 
}
